Flask
gunicorn
supabase
psycopg2-binary
sqlalchemy
werkzeug
flask-cors
flask-sqlalchemy
flask-migrate
flask-login
flask-wtf
flask-mail
flask-bcrypt
flask-restful
flask-jwt-extended
flask-socketio
requests
numpy
pandas



